name: Release and Deploy to GitHub Pages

on:
  push:
    # tags:
    #   - "v*"
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install tools with mise
        uses: jdx/mise-action@v3
        with:
          reshim: true
          experimental: true
          install: true

      - name: Install dependencies
        run: moon web:init

      - name: Lint
        run: moon web:lint

      - name: Build
        run: moon web:build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: ./apps/web/dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        id: deployment